/PlayerBody Visibility/PokeMelon/obj
/PlayerBody Visibility/PokeMelon/bin
/PlayerBody Visibility/PokeMelon/.vs/PokeMelon/CopilotIndices
/PlayerBody Visibility/PokeMelon/.vs/PokeMelon/DesignTimeBuild
/PlayerBody Visibility/PokeMelon/.vs/PokeMelon/FileContentIndex
/PlayerBody Visibility/PokeMelon/.vs/PokeMelon/v17
/PlayerBody Visibility/PokeMelon/.vs/ProjectEvaluation
